@charset "UTF-8";
@font-face {
  font-family: 'travel';
  src: url(../font/travel/travelcons.ttf) format("truetype"); }

@font-face {
  font-family: 'durum';
  src: url(../font/durum/durum_kebab_FFP.ttf) format("truetype"); }

@font-face {
  font-family: 'heater';
  src: url(../font/heater/Heaters.otf) format("truetype"); }

@font-face {
  font-family: 'lazer';
  src: url(../font/lazer84/Lazer84.ttf) format("truetype"); }

@font-face {
  font-family: 'Urae Nium';
  src: url(../font/urae_nium/urae_nium.ttf) format("truetype"); }

@font-face {
  font-family: 'gtartings';
  src: url(../font/gtartings/Gtartings.ttf) format("truetype"); }

@keyframes efectoParaTituloPrincipal {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .5; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }

@keyframes efectoCuadroDeformado {
  0% {
    opacity: 0;
    width: 50%; }
  25% {
    opacity: 0.25;
    width: 70%; }
  50% {
    opacity: 0.50;
    margin-right: 75%; }
  75% {
    opacity: 0.75;
    margin-right: 80%; }
  100% {
    opacity: 1;
    margin-right: 100%; } }

@keyframes efectoParaBarra {
  0% {
    width: 0%; }
  25% {
    width: 90%; }
  99% {
    width: 99%; }
  100% {
    width: 100%; } }

@keyframes zoomParaTitulos {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.1); }
  50% {
    transform: scale(1.2); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes zoomParaParrafos {
  50% {
    font-size: 200%; }
  100% {
    font-size: 205%; } }

@keyframes zoomParaSeccion {
  50% {
    width: 180vh; }
  100% {
    width: 175%; } }

@keyframes efectoParaSecciones {
  0% {
    width: 30vw; }
  50% {
    width: 50vw; }
  100% {
    width: 60vw; } }

@keyframes efectoOpacidad {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes efectoParaEspectaculo {
  0% {
    height: 20vh; }
  50% {
    height: 70vh; }
  100% {
    height: 100vh; } }

@keyframes efectoParaMenusDeBajos {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.1); }
  50% {
    transform: scale(1.2); }
  65% {
    transform: scale(1.2); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/*Direcciones*/
/*Imagenes para forms utilizando maps*/
/*Imagenes para página de las marcas*/
/*Imagenes de instrumentos de marca nacional utilizando maps**/
/*Imagenes de instrumentos para dispositivos mobile utilizando maps**/
/*Imagen de portada de la página principal*/
/*Medidas utilizadas en el sitio web*/
/*letras y campos de los formularios*/
/*tamaño de los iconos de las marcas*/
/*tamaño de letra de accordion*/
/*tamaño para titulo presentacion, titulo secundario (presentacion__sub)
titulo común*/
/*medidas para los titulos de los proximos shows*/
.presentacion {
  background-image: url(../imagenes/portada.jpg);
  width: 100vw;
  height: 100vh; }

.presentacion__titulo {
  font-family: lazer;
  font-style: italic;
  background: #ea5455;
  background: linear-gradient(90deg, #ea5455 1%, #e6b43e 30%, #dafa62 100%);
  -webkit-background-clip: text;
  background-clip: text;
  /*se agrega*/
  -webkit-text-fill-color: transparent;
  font-size: 800%;
  padding-left: 5%;
  width: 100%;
  animation-name: efectoParaTituloPrincipal;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0s; }

.presentacion__sub {
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  font-size: 190%;
  color: white;
  background: #ea5455;
  background: linear-gradient(60deg, transparent 10%, #ea5455 10%, #ea5455 90%, transparent 10%);
  margin-top: 15%;
  padding-left: 15%;
  width: 100%;
  animation-name: efectoCuadroDeformado;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0s; }

.presentacion__logo {
  display: none; }

.menu {
  background-color: #ea5455;
  position: sticky;
  top: 0;
  width: 100vw;
  margin-bottom: 5%; }

.menu__item, .desplegable__nombre, .desplegable__item {
  background-color: #ea5455;
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  color: white !important;
  /*solo por esta vez se utiliza un "!important"*/
  font-size: 130%; }

/*Aqui se hace uso de la sentencia Extends*/
.menu__item:hover, .desplegable__nombre:hover, .desplegable__item:hover {
  background-color: #e8eae6;
  color: #ea5455 !important; }

.menu__logo {
  display: none; }

.principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2%; }

.articulo__enlace {
  text-decoration: none; }

.articulo__imagen {
  width: 25vw;
  border-radius: 50%;
  border: 0.04rem solid #ea5455;
  margin-left: 5%; }

.articulo__titulo {
  font-family: "Bebas Neue", cursive;
  padding-left: 30%;
  color: #ea5455;
  text-align: justify;
  text-justify: inter-word; }

.articulo__titulo--marcas {
  padding-left: 35%; }

.articulo__contenido {
  font-family: "Jura", sans-serif;
  color: white;
  margin-left: 10%;
  width: 70%;
  text-align: justify;
  text-justify: inter-word; }

.articulo__enlace:hover .articulo__titulo {
  color: white; }

.articulo__enlace:hover .articulo__imagen {
  border-color: white; }

.pie {
  margin-top: 5%;
  margin-left: 3%;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold; }

.pie__titulo {
  margin-left: 0;
  font-family: "Bebas Neue", cursive; }

.redes__item {
  display: inline;
  margin-left: 2%; }

.redes__icon {
  color: white;
  font-size: 400%; }

.redes__icon:hover {
  color: #ea5455;
  transform: scale(1.1); }

.titulo {
  font-family: "Bebas Neue", cursive;
  font-size: 300%;
  font-style: italic;
  background: #ea5455;
  background: linear-gradient(90deg, #ea5455 1%, #e6b43e 30%, #dafa62 100%);
  -webkit-background-clip: text;
  background-clip: text;
  /*se agrega*/
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-left: 30%;
  padding: 0.5% 2%;
  animation-name: zoomParaTitulos;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 0s; }

.titulo--nacionales {
  -webkit-text-fill-color: black;
  background: linear-gradient(110deg, transparent 10%, #16c79a 10%, #16c79a 90%, transparent 10%);
  padding-left: 15%;
  margin-left: 0;
  margin-top: 1%;
  width: 61vw;
  animation-name: efectoCuadroDeformado;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0s; }

#titulo-espectaculo {
  font-family: durum;
  font-size: 420%;
  color: black;
  border-style: solid;
  border-color: #b34180;
  border-width: 0.01rem;
  background-color: #b34180;
  display: inline-block;
  margin: 0.8% 10%;
  padding: 0.5% 10%;
  width: 70vw; }

.volver-inicio {
  font-family: heater;
  font-style: italic;
  font-size: 300%;
  color: white;
  margin: 0 39%;
  text-decoration: none; }

.volver-inicio:hover {
  color: #ea5455; }

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
  margin: 2% 3%; }

.producto {
  border-radius: 1rem;
  border: 0.1rem solid #ea5455;
  background-color: #131212; }

.producto__enlace {
  text-decoration: none;
  display: block;
  height: 100%; }

.producto__imagen {
  border-radius: 1rem;
  width: 100%;
  height: 95vh; }

.producto__imagen--bateria, .producto__imagen--sintetizador, .producto__imagen--armonica {
  height: 36vh; }

.producto__imagen--acordeon, .producto__imagen--bongoes, .producto__imagen--equipo {
  height: 40vh; }

.producto__imagen--afinador, .producto__imagen--amplificador {
  height: 65vh; }

.producto__imagen--electricas {
  vertical-align: middle; }

.producto__nombre, .producto__stock {
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
  font-size: 150%;
  color: white;
  margin-left: 3%; }

.producto__stock {
  color: #94ebcd; }

.producto__stock--sin-stock {
  color: deeppink; }

.producto:hover {
  background-color: white;
  border-color: white; }

.producto:hover .producto__nombre, .producto:hover .producto__stock {
  color: #ea5455; }

.atributos {
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  font-size: 140%;
  color: white; }

.atributos__titulo {
  font-size: 180%; }

.atributos__nombre {
  color: #ea5455; }

.atributos__precio {
  font-size: 200%;
  color: white; }

.boton-carrito {
  background-color: #ea5455;
  font-size: 120%;
  margin-top: 7%;
  margin-left: 0;
  padding: 2% 4%;
  border-radius: 2rem;
  color: white;
  text-decoration: none; }

.boton-carrito__icon {
  font-family: travel;
  color: white; }

.boton-carrito:hover {
  color: white; }

.body-formulario--registro {
  background-image: url(../imagenes/yannis-papanastasopoulos-yWF2LLan-_o-unsplash.jpg); }

.body-formulario--login {
  background-image: url(../imagenes/ana-grave-gHcWaeldgtQ-unsplash.jpg); }

.body-formulario--turno {
  background-image: url(../imagenes/freestocks-Fx5rrxSaUtI-unsplash.jpg); }

.body-formulario__titulo {
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  color: white;
  font-size: 280%;
  border-radius: 2rem;
  padding: 0.1% 0.8%; }

.body-formulario__titulo--registro {
  margin-left: 41%; }

.body-formulario__titulo--login {
  margin-left: 39%; }

.body-formulario__titulo--turno {
  margin-left: 30%; }

.formulario {
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  color: white;
  border-radius: 2rem;
  margin-top: 5%;
  box-shadow: 0rem 0rem 1rem 1rem rgba(247, 239, 239, 0.2); }

.formulario--registro {
  width: 40vw;
  margin-top: 3%;
  margin-left: 28%; }

.formulario--login {
  width: 25vw;
  margin-left: 35%; }

.formulario--turno {
  width: 38vw;
  margin-left: 30%; }

.formulario__label {
  font-size: 180%;
  margin-left: 0; }

.formulario__label--registro {
  margin-left: 40%; }

.formulario__label--login {
  margin-left: 30%; }

.formulario__label--turno {
  margin-left: 30%; }

.formulario__campo, .formulario__boton {
  width: 100%;
  border-radius: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 140%; }

.formulario__boton {
  font-family: "Bebas Neue", cursive;
  font-size: 180%;
  font-style: italic;
  color: black;
  border-color: white;
  background-color: white;
  padding: 1%;
  margin-bottom: 3%; }

.formulario__boton--terminos {
  padding: 0.1rem 0.3rem;
  margin-left: 0.5%;
  border-radius: 1rem;
  text-decoration: none; }

.formulario__ayuda {
  text-decoration: none;
  color: white;
  font-size: 120%;
  font-style: italic;
  margin-left: 18%; }

.formulario__boton:hover {
  background-color: #a8a8a1; }

.formulario__ayuda:hover {
  color: #a8a8a1; }

.formulario__combo {
  height: 2rem;
  width: 10rem;
  border-radius: 1rem;
  font-family: "Bebas Neue", cursive;
  font-size: 90%; }

.formulario__texto {
  width: 90%;
  font-family: "Bebas Neue", cursive;
  font-size: 130%;
  background: transparent;
  color: white;
  margin-left: 5%; }

.body-marca {
  background-image: url(../imagenes/jan-kopriva-_s5qrtDzwHs-unsplash.jpg); }

.marca {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10%;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: 80vh;
  margin-left: 10%; }

.marca__enlace {
  text-decoration: none;
  color: #ffffff;
  font-family: gtartings;
  font-size: 430%; }

.marca__item:hover {
  transform: scale(1.1); }

.marca__enlace:hover {
  background: #bbd136;
  background: linear-gradient(90deg, #ea5455 1%, #e6b43e 30%, #dafa62 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.bienvenida__parrafo {
  font-family: "Jura", sans-serif;
  font-size: 140%;
  color: white;
  margin: 3% 5%; }

.bienvenida__parrafo--registro, .boton-volver__enlace {
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  font-size: 150%;
  color: #94e94f;
  margin-left: 0; }

.bienvenida__separador {
  animation-name: efectoParaBarra;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  background: linear-gradient(90deg, #ea5455 1%, #e6b43e 30%, #dafa62 100%);
  height: 5px; }

.boton-volver {
  display: inline-block;
  font-size: 160%;
  color: #94e94f;
  border: 0.2rem solid #94e94f;
  padding: 1%;
  border-radius: 2rem;
  margin-top: 3%;
  margin-left: 5%; }

.boton-volver__enlace {
  text-decoration: none; }

.boton-accordion {
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  font-size: 160%;
  background: #ea5455;
  color: white;
  border: 0.2rem solid white; }

.contenido-accordion {
  background-color: white;
  font-family: "Jura", sans-serif;
  font-size: 180%;
  color: black; }

.tabla {
  border-collapse: collapse;
  font-family: "Bebas Neue", cursive;
  margin-left: 30%;
  margin-top: 3%; }

.tabla__cabecera, .tabla__celda {
  border-style: solid;
  border-color: white;
  color: black;
  background-color: #a8a8a1;
  width: 20vw;
  text-align: center; }

#titulo-te-esperamos {
  font-family: "Permanent Marker", cursive;
  color: deeppink;
  font-size: 190%;
  margin-left: 30%; }

.seccion-instrumento {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60vw;
  height: 40vh;
  margin-left: 10%;
  margin-top: 5%;
  border: 0.1rem solid #16c79a;
  border-radius: 2rem;
  animation-name: efectoParaSecciones;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0s; }

.seccion-instrumento--strato {
  background-image: url(../imagenes/strato_alga.jpg); }

.seccion-instrumento--gothic {
  background-image: url(../imagenes/gothic_carbono.jpg); }

.instrumento {
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  color: white;
  font-size: 130%;
  width: 50%;
  background: black;
  background: linear-gradient(270deg, black 0%, #060606 82%, rgba(252, 252, 252, 0) 100%);
  border-radius: 2rem;
  animation-name: efectoOpacidad;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0s; }

.instrumento__icon-marca {
  font-family: "Long Cang", cursive;
  font-size: 160%; }

.instrumento__descripcion {
  display: inline-block;
  color: black;
  background-color: white;
  border-radius: 1rem;
  font-size: 130%;
  padding: 0 1%; }

.parrafo {
  font-family: "Bebas Neue", cursive;
  font-size: 170%;
  font-style: italic;
  margin-left: 10%;
  color: white; }

.parrafo__boton {
  background-color: white;
  color: black;
  margin-left: 1%;
  padding: 0 1%;
  border-radius: 2rem;
  text-decoration: none; }

.parrafo__boton:hover {
  background-color: #16c79a;
  color: white; }

/*esta seccion es para secciones o páginas que poseen una imagen de fondo, van a ser con estructuras similares
solo cambia la dirección de la imagen*/
.estructura-imagen, .presentacion, .body-formulario, .body-marca {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.espectaculo {
  margin: 1%;
  margin-left: 10%;
  width: 70vw;
  height: 20vh;
  border: 0.2rem solid #ea5455; }

.espectaculo--chinos {
  background-image: url(..//imagenes/chinos.jpg);
  background-size: cover;
  background-position: center; }

.espectaculo--zar {
  background-image: url(..//imagenes/zar.jpg);
  background-size: cover;
  background-position: top; }

.espectaculo--mato {
  background-image: url(..//imagenes/mato.jpg);
  background-size: cover;
  background-position: top; }

.espectaculo__titulo {
  display: inline-block;
  padding-left: 35%; }

.espectaculo__titulo--chinos {
  font-family: heater;
  font-size: 400%;
  color: #b34180; }

.espectaculo__titulo--zar {
  font-family: Urae Nium;
  font-size: 230%;
  color: black;
  letter-spacing: 1rem;
  padding-bottom: 3rem; }

.espectaculo__titulo--mato {
  font-family: "Permanent Marker", cursive;
  font-size: 200%;
  color: white;
  margin-bottom: 3%; }

.espectaculo__fecha, .espectaculo:hover .espectaculo__entrada, .espectaculo__entrada {
  display: none; }

.espectaculo:hover {
  animation-name: efectoParaEspectaculo;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  height: 100vh; }
  .espectaculo:hover .espectaculo__fecha, .espectaculo:hover .espectaculo__entrada {
    font-family: "Bebas Neue", cursive;
    font-size: 200%;
    font-style: italic;
    color: black;
    display: block;
    animation-name: efectoOpacidad;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 0s; }
  .espectaculo:hover .espectaculo__entrada {
    display: inline-block;
    font-family: heater;
    color: #434444;
    background-color: white;
    text-decoration: none;
    border-radius: 2rem;
    padding: 1%;
    margin-bottom: 5%; }
  .espectaculo:hover .espectaculo__entrada--agotada {
    color: #f14668; }

.menu-amplificadores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center; }

.menu-amplificadores__guitarra, .menu-amplificadores__bajo {
  background-position: center;
  background-size: cover;
  margin: 1% 5%;
  width: 35vw;
  height: 80vh;
  border-radius: 2rem;
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
  color: white;
  font-size: 200%;
  text-decoration: none; }

.menu-amplificadores__guitarra:hover, .menu-amplificadores__bajo:hover {
  box-shadow: 0rem 0rem 1rem 1rem rgba(247, 239, 239, 0.2);
  animation-name: efectoParaMenusDeBajos;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0s; }

.menu-amplificadores__guitarra, .menu-amplificadores__bajo {
  background-image: url(../imagenes/guitarra_con_ampli.jpg); }

.menu-amplificadores__bajo {
  background-image: url(../imagenes/bajo_con_ampli.jpg);
  color: black; }

.metodos {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0; }

.metodos__item {
  margin-left: 3%; }

.metodos__icon {
  color: white;
  font-size: 300%; }

.pagos-titulo, .pagos-efectivo, .pagos-tarjeta, .pagos-mercado-pago {
  font-family: "Jura", sans-serif;
  font-size: 200%;
  color: white;
  margin-left: 3%; }

.pagos-efectivo, .pagos-tarjeta, .pagos-mercado-pago {
  font-size: 100%;
  margin-top: .4%; }

.payments-medium {
  background: url(https://http2.mlstatic.com/secure/payment-logos/v2/payment-logos-mla-medium_v_42deeb6b38.png) no-repeat; }

._mercadopago_cc-medium {
  width: 100px;
  height: 23px;
  background-position: left -1405px; }

._rapipago-medium {
  width: 76px;
  height: 14px;
  background-position: left -375px; }

._pagofacil-medium {
  width: 22px;
  height: 22px;
  background-position: left 0; }

.terminos {
  font-family: "Bebas Neue", cursive;
  font-size: 200%;
  color: aliceblue;
  margin: 10% 30%; }

/*Tablet*/
@media only screen and (max-device-width: 991px) {
  /*Se adapta la cabecera de la página principal*/
  .presentacion {
    background-position: top; }
  /*Se tapa el titulo de presentación*/
  .presentacion__titulo {
    display: none; }
  .presentacion__sub {
    font-size: 290%;
    background: white;
    color: black;
    width: 100vw;
    margin-top: 0;
    padding-left: 2%;
    animation-name: efectoOpacidad;
    animation-duration: 2s; }
  .presentacion__logo {
    display: block;
    font-family: lazer;
    font-style: italic; }
  /*Se muestra el logo en el menu principal*/
  .menu__logo {
    display: inline;
    font-family: lazer;
    font-style: italic;
    color: white !important;
    margin-left: 5%;
    font-size: 120%;
    animation-name: efectoParaTituloPrincipal;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 0s; }
  /*Se oculta el titulo "volver al inicio"*/
  .volver-inicio {
    display: none; }
  /*Se transforma la seccion principal*/
  .principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .articulo__imagen {
    width: 35vw;
    margin-left: 12%; }
  .articulo__contenido {
    width: 80%; }
  .articulo__titulo--registro {
    padding-left: 34%; }
  /*Se adaptan los formularios y sus titulos correspondientes*/
  .formulario--registro {
    width: 65vw;
    margin-left: 17%; }
  .formulario--login {
    width: 45vw;
    margin-left: 30%; }
  .formulario--turno {
    width: 70vw;
    margin-left: 15%; }
  .body-formulario__titulo--registro, .body-formulario__titulo--login {
    margin-left: 38%; }
  .body-formulario__titulo--turno {
    margin-left: 30%; }
  /*Se adapta el catalogo de los productos*/
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    margin: 2% 0;
    width: 100%; }
  .producto {
    width: 100%; }
  .producto__imagen {
    height: auto; }
  /*Se adaptan las secciones de los intrumentos de marcas nacionales*/
  .seccion-instrumento--strato, .seccion-instrumento--gothic {
    width: 100vw;
    margin-left: 0;
    border-radius: 0;
    animation-name: none; }
  .seccion-instrumento--strato {
    background-image: url(../imagenes/algas_2.jpg); }
  .seccion-instrumento--gothic {
    background-image: url(../imagenes/gothic_1.jpg); }
  .instrumento {
    width: 100%;
    margin-left: 1%;
    background: none; }
  /*Se adapta el titulo principal de la página de los instrumentos nacionales*/
  .titulo--nacionales {
    background: #16c79a;
    width: 100vw;
    animation-name: none;
    margin: 0; }
  .parrafo {
    font-size: 150%;
    margin-left: 0; }
  /*Se adapta el menu de los amplificadores*/
  .menu-amplificadores {
    flex-direction: column;
    width: 100vw; }
  .menu-amplificadores__guitarra, .menu-amplificadores__bajo, .menu-amplificadores__bajo {
    width: 100vw;
    margin: 8% 0; }
  /*Se adapta la seccion de espectaculos*/
  #titulo-espectaculo, .espectaculo {
    display: block;
    margin: 0;
    margin-bottom: 5%;
    width: 100vw; }
  #titulo-espectaculo {
    font-size: 260%;
    padding-left: 3%; }
  .titulo {
    margin-right: 20%; } }

/*Smartphone*/
@media only screen and (max-device-width: 576px) {
  .presentacion {
    height: 30vh; }
  .presentacion__sub {
    font-size: 140%; }
  .presentacion__logo {
    display: none; }
  .principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2%;
    margin-bottom: 25%; }
  .articulo__imagen {
    width: 60vw;
    margin-left: 20%; }
  .articulo__titulo {
    padding-left: 37%; }
  .articulo__titulo--marcas {
    padding-left: 40%; }
  /*Nuevamente se adaptan los formularios y sus titulos correspondientes*/
  .formulario {
    width: 95vw;
    margin-left: 3%; }
  .body-formulario__titulo--registro {
    margin-left: 33%; }
  .body-formulario__titulo--login {
    margin-left: 24%; }
  .body-formulario__titulo--turno {
    margin-left: 0; }
  /*Se adaptan las tablas*/
  .tabla {
    width: 100vw;
    margin-left: 0; }
  /*Se transforma y se adapta el listado de marcas*/
  .marca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100vw; }
  .marca__enlace {
    font-size: 330%; }
  .titulo--marcas {
    margin-left: 15%; }
  /*Se adapta la seccion de espectaculos*/
  /*se apaptan los titulos de los espectaculos*/
  .espectaculo__titulo--chinos {
    font-family: heater;
    font-size: 300%;
    color: #b34180; }
  .espectaculo__titulo--zar {
    font-family: Urae Nium;
    font-size: 200%;
    color: black; }
  .espectaculo__titulo--mato {
    font-family: "Permanent Marker", cursive;
    font-size: 150%;
    color: white; }
  /*se apaptan las fechas de los epectaculos*/
  .espectaculo:hover .espectaculo__fecha, .espectaculo:hover .espectaculo__entrada, .espectaculo:hover .espectaculo__entrada {
    font-size: 150%; }
  /*Se adapta el titulo de las páginas*/
  .titulo {
    animation-name: none;
    margin: 0; }
  /*Se adapta el titulo te esperamos de la tabla de horarios*/
  #titulo-te-esperamos {
    margin: 0; } }

/*Small Smartphones*/
@media only screen and (max-device-width: 320px) {
  .menu__logo {
    font-size: 100%; }
  .articulo__titulo--login {
    padding-left: 33%; }
  .articulo__titulo--espectaculos {
    padding-left: 33%; }
  /*se adaptan nuevanmente los titulos de los forms*/
  .body-formulario__titulo--registro {
    margin: 0 25%; }
  .body-formulario__titulo--login {
    margin: 0 15%; }
  /*Se adapta la seccion de espectaculos*/
  /*Se adapta el titulo de la seccion de espectaculos*/
  #titulo-espectaculo {
    font-size: 200%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #131212; }
