$rojoNaranja: #ea5455;
$colorConSock: #94ebcd;
$colorSinStock: deeppink;
$gradienteLinealRojoAmarillo: linear-gradient(90deg, #ea5455 1%, rgba(230,180,62,1) 30%, rgba(218,250,98,1) 100%);
$gradienteTransparenciaRojo:linear-gradient(60deg, transparent 10%, $rojoNaranja 10%, $rojoNaranja 90%, transparent 10%);
$gradienteTransparenciaVerde: linear-gradient(110deg, transparent 10%, #16c79a 10%, #16c79a 90%, transparent 10%);
$verdeAgua: #16c79a;
$gradienteTransparenciaNegro: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(6,6,6,1) 82%, rgba(252,252,252,0) 100%);
$rosaParaEspectaculos: #b34180;
$colorEntradasAgotadas: #f14668;
$colorEntradasDisponibles: #434444;
$colorPagina: rgb(19, 18, 18);