/*Direcciones*/

/*Imagenes para forms utilizando maps*/
$foto-forms:(
    registro: url(../imagenes/yannis-papanastasopoulos-yWF2LLan-_o-unsplash.jpg),
    login: url(../imagenes/ana-grave-gHcWaeldgtQ-unsplash.jpg),
    turno: url(../imagenes/freestocks-Fx5rrxSaUtI-unsplash.jpg)
);

/*Imagenes para página de las marcas*/
$foto-marcas: url(../imagenes/jan-kopriva-_s5qrtDzwHs-unsplash.jpg);


/*Imagen de portada de la página principal*/
$foto_portada: url(../imagenes/portada.jpg);