/*esta seccion es para secciones o páginas que poseen una imagen de fondo, van a ser con estructuras similares
solo cambia la dirección de la imagen*/

.estructura-imagen {
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}