.presentacion {
    @extend .estructura-imagen
}

.presentacion {
    background-image: $foto_portada;
    width: 100vw;
    height: 100vh;
}

.presentacion__titulo {
    font-family: $lazer-font;
    font-style: italic;
    background: $rojoNaranja;
    background: $gradienteLinealRojoAmarillo;
    -webkit-background-clip: text;
    background-clip: text; /*se agrega*/
    -webkit-text-fill-color: transparent;
    font-size: $size-titulo-presentacion;
    padding-left:5%;
    width: 100%;

    @include efecto($efectoParaTituloPrincipal, 4s, 1, ease-in, 0s);
}

.presentacion__sub {
    font-family:$bebas-font;
    font-style: italic;
    font-size: $size-titulo-secundario;
    color: white;
    background: $rojoNaranja;
    background: $gradienteTransparenciaRojo;
    margin-top: 15%;
    padding-left: 15%;
    width: 100%;

    @include efecto($efectoCuadroDeformado, 4s, 1, ease-in, 0s);
}

.presentacion__logo {
    display: none;
}

.menu {
    background-color: $rojoNaranja;
    position: sticky;
    top: 0;
    width: 100vw;
    margin-bottom: 5%;
}

.menu__item {
    background-color: $rojoNaranja;
    font-family: $bebas-font;
    font-style: italic;
    color: white !important; /*solo por esta vez se utiliza un "!important"*/
    font-size: 130%;
}
/*Aqui se hace uso de la sentencia Extends*/
.desplegable__nombre {
    @extend .menu__item;
}

.desplegable__item {
    @extend .menu__item;
}

.menu__item:hover{
    background-color: #e8eae6;
    color: $rojoNaranja !important;
}

.desplegable__nombre:hover {
    @extend .menu__item:hover;
}

.desplegable__item:hover {
    @extend .menu__item:hover;
}

.menu__logo {
    display: none;
}

.principal {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 70px;
}

.articulo__enlace {
    text-decoration: none;
}


.articulo__imagen {
    width: 25vw;
    border-radius: 50%;
    border: 0.04rem solid $rojoNaranja;
    margin-left: 15%;
}

.articulo__imagen:before {
    position: absolute;
    content: "";
    width: 80%;
    height: 220%;
    background: rgb(235, 53, 131);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;
}

.articulo__imagen:hover:before {
    left: 10%;
}

.card img {
    width: 100%;
    height: auto;
}

.card-text {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: #fff;
    left: 0;
    z-index: 2;
    transition: 1.1s;
}

.articulo__titulo {
    font-family: $bebas-font;
    padding-left: 33%;
    color: $rojoNaranja;
    text-align: justify;
    text-justify: inter-word;
}

.articulo__titulo--marcas {
    padding-left: 35%;
}

.articulo__contenido {
    font-family: $jura-font;
    color: white;
    margin-left: 10%;
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
}

.articulo__enlace:hover {
    .articulo__titulo{
        color: white;
    }
    .articulo__imagen{
        border-color: white;
    }
}

.separador_index {
    background-color: $rojoNaranja;
    height: 5px;
}

.pie {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 80px;
    font-family: $jura-font;
    color: white;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.redes__item {
    display: inline;
    margin-left: 10%;
}

.redes__icon {
    color: white;
    font-size: 200%;
}

.redes__icon:hover {
    color:$rojoNaranja;
    transform: scale(1.1);
}

.logo {
    font-size: 600%;
    color: white;
}

.logo-titulo {
    font-family: $lazer-font;
    color:white;
}

.item-pie {
    margin-left: 2%;
}

.titulo-pie {
    font-family: $bebas-font;
    color: white;
    font-size: 200%;
}

.item-pie {
    display: flex;
    flex-direction: column;
}

.item-pie ul {
    list-style: none;
    padding-left: 0 !important;
}

.item-pie ul li a{
    font-family: $jura-font;
    text-decoration: none;
    color:white;
}

.item-pie ul li:hover a {
    @extend .redes__icon:hover;
    
    
}
