.metodos {
    display: flex;
    flex-direction: row;
    list-style: none; 
    padding-left:0;
}

.metodos__item {
    margin-left: 3%;
}

.metodos__icon {
    color: white;
    font-size: 300%;
}

.pagos-titulo {
    font-family: $jura-font;
    font-size: 200%;
    color: white;
    margin-left: 3%;
}

.pagos-efectivo {
    @extend .pagos-titulo;
    font-size: 100%;
    margin-top: .4%;
}

.pagos-tarjeta {
    @extend .pagos-efectivo;
}

.pagos-mercado-pago{
    @extend .pagos-efectivo;
}

.payments-medium {
    background: url(https://http2.mlstatic.com/secure/payment-logos/v2/payment-logos-mla-medium_v_42deeb6b38.png) no-repeat;
}

._mercadopago_cc-medium{
    width: 100px;
    height: 23px;
    background-position: left -1405px;
}

._rapipago-medium {
    width: 76px;
    height: 14px;
    background-position: left -375px;
}

._pagofacil-medium {
    width: 22px;
    height: 22px;
    background-position: left 0;
}